body {
  background-color: rgb(19, 19, 19);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.LootList{
  background-color: rgb(40,40,40);
  width: 95%;
  
}
.Item{
  background-color: red;
  height: 80px;
  width: 40px;
}
.playerScroller{
  background-color: rgb(30,30,30);
}
.PlayerImage{
  width: 40px;
}
.bg-dark{
  background-color: #222 !important;
}

.armoryLink{
  text-decoration: none !important;
}
.itemText{
  color: #a335ee !important;
}
.class1{
  color: #C79C6E !important;
}
.class2{
  color: #F58CBA !important;
}
.class3{
  color: #ABD473 !important;
}
.class4{
  color: #FFF569 !important;
}
.class5{
  color: #FFFFFF !important;
}
.class6{
  color: #C41F3B !important;
}
.class7{
  color: #0070DE !important;
}
.class8{
  color: #40C7EB !important;
}
.class9{
  color: #8787ED !important;
}
.class10{
  color: #00FF96 !important;
}
.class11{
  color: #FF7D0A !important;
}
.class12{
  color: #A330C9 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
