body {
  background-color: rgb(19, 19, 19);
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.BossName{
  font-size: 1.3em;
}

/* width */
.playerScroller::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: .25rem!important;
}

.playerScroller::-webkit-scrollbar
{
  width: 12px;
  padding-right: 2em;
  background-color: rgb(30,30,30);}

.playerScroller::-webkit-scrollbar-thumb
{
	border-radius: .25rem!important;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #333;
}

.PlayerListItem:nth-child(even){
  background-color: rgb(27,27,27);
}
.PlayerListItem:nth-child(odd){
  background-color: rgb(30,30,30);
}

.LootList{
  background-color: rgb(40,40,40);
  width: 95%; 
}
.LootName{
  font-size: 1.2em;
}
.LootImage{
  height: 48px;
}
.Item{
  background-color: red;
  height: 80px;
  width: 40px;
}
.playerScroller{
  background-color: rgb(30,30,30);
  max-height: 20em;
  padding: 0px;
}
.PlayerRank{
  color: #444;
  width: 2em;
  text-align: center;
  opacity: 0.5;
}
.PlayerImage{
  width: 40px;
}
.PlayerName{
  width: 5.5em;
}
.PlayerSim{
  font-size: 1.15rem;
}
.rank1{
  color: rgb(255, 196, 0);
}
.rank2{
  color: rgb(211, 211, 211);
}
.rank3{
  color: rgb(126, 77, 31);
}
.graphSVG{
  vertical-align: middle;
}
.svgLine1{
  fill: rgb(16,16,16);
}
.svgLine2{
  fill: rgb(72, 134, 0);
}
.svgCircle{
  fill: rgb(211, 95, 0);
}
.text-success{
  color: rgb(72, 134, 0) !important;
}
.text-light{
  color: rgb(220,220,220) !important;
}
.bg-dark{
  background-color: #222 !important;
}

.armoryLink{
  text-decoration: none !important;
}
.itemText{
  color: #a335ee !important;
}
.lootLink:hover{
  color: #a335ee !important;
  border-bottom-color: #a335ee;
}
.class1{
  color: #C79C6E !important;
}
.class2{
  color: #F58CBA !important;
}
.class3{
  color: #ABD473 !important;
}
.class4{
  color: #FFF569 !important;
}
.class5{
  color: #FFFFFF !important;
}
.class6{
  color: #C41F3B !important;
}
.class7{
  color: #0070DE !important;
}
.class8{
  color: #40C7EB !important;
}
.class9{
  color: #8787ED !important;
}
.class10{
  color: #00FF96 !important;
}
.class11{
  color: #FF7D0A !important;
}
.class12{
  color: #A330C9 !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
